.item {
	width: 700px;
}
.icon  {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.likecounts{
	font-size: 12px;
	margin-left: 5px;
	display: inline-block;
	width: 40px;
	height: 15px;
	background-color:rgb(201, 142, 142);
	color: rgb(0, 0, 0);
	border-radius: 5px;
	text-align: center;
	line-height: 15px;
}