
.header {
	height: 50px;
	background-color:rgb(100, 100, 100);
	border-radius: 0px 0px 15px 15px;
	margin-bottom: 10px;
 }
 .header img {
 
	height: 20px;
	width: 20px;
	border-radius: 5px;
 }
 .loginBlock{
	 display: flex;
	 justify-content: flex-end;
	 border: 1 solid rgb(20, 255, 20);


 }
 .loginBlock a {
	 color: rgb(109, 187, 255);
 }